body {
    font-family: 'Times New Roman', Times, serif;
}

/* this is my navigation */
nav {
    display: flex;
    justify-content: flex-end; /* push links to the right */
    gap: 10px;                 /* space between links */
    margin-top: 5px;
    margin-right: 50px;
    margin-bottom: 50px;
}

nav a {
    display: inline-block;
    /* make links sit side by side */
    margin: 0 10px;
    /* space between links */
    text-decoration: none;
    /* remove underline */
    color: black;
    /* or any color you want */
    font-weight: bold;
}


header {
    margin-top: 0px;
    text-align: left;
}

.wrapper {
    margin: 0px auto 0;
    width: 60%;
}

img {
    width: 100%;
}

main {
    text-align: justify;

}

footer {
    text-align: right;
}

.books {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* grid-template-columns: auto auto auto; */
    /* if you used auto auto auto, it would create 3 columns that are just wide enough to fit their content — instead of equally splitting space like 1fr. */
    max-width: 100%;
    gap: 16px;
}

/* .im1 {
    grid-column: 1/4;
}

.im2 {
    grid-column: 4/7;
}

.im3 {
    grid-column: 7/10;
}

.im4 {
    grid-column: 10/13;
} */

.books figure:has(img.im1) { grid-column: 1 / 4; }
.books figure:has(img.im2) { grid-column: 4 / 7; }
.books figure:has(img.im3) { grid-column: 7 / 13; }
.books figure:has(img.im4) { grid-column: 1 / 4; }
.books figure:has(img.im5) { grid-column: 4/ 7; }
.books figure:has(img.im6) { grid-column: 7/ 13; }
.books figure:has(img.im7) { grid-column: 1 / 4; }
.books figure:has(img.im8) { grid-column: 4/ 7; }
.books figure:has(img.im9) { grid-column: 7/ 10; }
.books figure:has(img.im10) { grid-column: 10/ 13; }
.books figure:has(img.im11) { grid-column: 1/ 7; }
.books figure:has(img.im12) { grid-column: 7/ 10; }
.books figure:has(img.im13) { grid-column: 10/ 13; }
.books figure:has(img.im14) { grid-column: 1/ 4; }
.books figure:has(img.im15) { grid-column: 4/ 10; }
.books figure:has(img.im16) { grid-column: 10 / 13; }

.books figure {
    margin: 0;
}

.books img {
    display: block;
    width: 100%;
    height: auto;
}