body{font-family:'Times New Roman', Times, serif;}
a{
    display: block;
    font-weight: bold;
    font-size: px;
    margin-bottom: 16px;
    text-decoration: none;
    color: black;
}
/* this is my navigation */
nav {
    margin-top: 50px;
    margin-left: 50px;
    float: left;
}
header{
    
    text-align: right;
}
.wrapper{
    float: right;
    width: 60%;
}
img{
   width: 100%; ; 
}
main{
    text-align: justify;
    
}
footer{
    text-align: right;
}
.workImages{
    display: grid;
    grid-template-columns: auto auto auto;
}
.workImages img {
  width: 100%;      /* control image width */
  height: auto;      /* keep aspect ratio */
  margin: 20px;      /* space around each image */
}
@media (max-width: 480px) {
nav{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    background-color: black;
    margin-top: 0px;
    padding-top: 10px;
}
.wrapper{
    float: none;
    width: 100%;
}
nav a{
    color: white;
}   
.workImages{
    display: grid;
    grid-template-columns: auto auto;
}
   /* h1{color: red;}
   p{color: blue;} */
}
.books{
    display: grid;
    /* grid-template-columns: repeat(12,1fr); */
    grid-template-columns: auto auto auto;
    max-width: 100%;
    gap: 16px;
}

.im1{
    grid-column: 1/4;
}
.im2{
    grid-column: 4/7;
}
.im3{
    grid-column: 7/10;
}
.im4{
    grid-column: 10/13;
}


.books img{
 display: block;
 width: 100%;
 height:auto;
}