/* Wrapper to center only the eye stack */
.center-wrapper {
    width: 80%;       /* 10% margin left & right */
    height: 80vh;     /* space above/below */
    margin: 0 auto;   /* center horizontally */
    display: flex;    
    justify-content: center;   /* center Eye_Stack horizontally */
    align-items: center;       /* center Eye_Stack vertically */
    border: 0px solid red;     /* (optional) debugging */
}

.Eye_Stack{
    position: relative;
    width: 70vmin;  
    height: 70vmin; /* 70% of the screen size*/
}

.eye-layer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;   /* make them same size */
    height: 100%;
    object-fit: contain;
    pointer-events: none; /*so they don’t block each other */
    border: 0.2vmin solid black;   /* responsive border */
    box-sizing: border-box;        /* prevents layout shift */
}

/* Remove spacing caused by <figure> */
.Eye_Stack figure {
    margin: 0;
    padding: 0;
}

/* order: bottom < ball < lid */
.bottom { z-index: 1; }
.ball   { z-index: 2; }
.lid    { z-index: 3; }