/* code fo/ the menu bar to the right */
.side-nav {
    position: fixed;
    top: 50%;
    right: 5vmin;              /* distance from right edge */
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 2vmin;             /* space between circles */
    z-index: 1000;
}


/* Active / current page */
.nav-dot.active {
    background-color: #005DCD;   /* blue fill */
    border-color: #005DCD;       /* blue outline */
    color: #CBD9D9;              /* light number */
}
/* Base style for each circle */
.nav-dot {
    width: 4vmin;  /* rem = root font size unit, 1 rem= 16px */
    height: 4vmin;
    border-radius: 50%; /*turn the square into a circle */
    border: 0.25vmin solid black;     /* black outline */

    background-color: #ebebeb;   /* inner color */
    color: black;                /* number color */

    display: flex;
    align-items: center; /* align-items controls vertical alignment center puts the number vertically in the middle */
    justify-content: center;

    text-decoration: none; /*removes underline*/
    font-family: inherit; /*use the same fornt as the parent element*/
    font-weight: 400; /* text bold or not*/
    font-size: 2vmin;
    transition: background-color 0.2s ease,
                border-color 0.2s ease,
                color 0.2s ease,
                transform 0.15s ease;
/*Background color animation takes 0.2s
Border color animation takes 0.2s
Number color animation takes 0.2s
Any transform (like scale on hover) animates in 0.15s
ease makes it start fast and end slow*/
}


/* Wrapper to center only the eye stack */
.center-wrapper {
    width: 80%;       /* 10% margin left & right */
    height: 80vh;     /* space above/below */
    margin: 0 auto;   /* center horizontally */
    display: flex;    
    justify-content: center;   /* center Eye_Stack horizontally */
    align-items: center;       /* center Eye_Stack vertically */
    border: 0px solid red;     /* (optional) debugging */
}

.Eye_Stack{
    position: relative;
    width: 70vmin;  
    height: 70vmin; /* 70% of the screen size*/
}

.eye-layer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;   /* make them same size */
    height: 100%;
    object-fit: contain;
    pointer-events: none; /*so they don’t block each other */
    border: 0.2vmin solid black;   /* responsive border */
    box-sizing: border-box;        /* prevents layout shift */
}

/* Remove spacing caused by <figure> */
.Eye_Stack figure {
    margin: 0;
    padding: 0;
}

/* order: bottom < ball < lid */
.bottom { z-index: 1; }
.ball   { z-index: 2; }
.lid    { z-index: 3; }