* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*police par défault du document*/
body {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 900;
    font-size: 1em;
}

/*enlever le souligné pour tout les liens*/
a,
a:hover,
a:visited,
a:link,
a:focus,
a:active {
    text-decoration: none;
    color: gray;
}


/*grille de base du site commence ici*/
.wrapper {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    width: 100vw;
    height: 100vh;

}


header {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 9;
    border: none;
    /* Supprime la bordure */
    margin: 0;
    padding: 0;

}

main {
    grid-row-start: 2;
    grid-row-end: 9;
    grid-column-start: 2;
    grid-column-end: 9;
    padding: 100px;

}

footer {
    grid-row-start: 9;
    grid-row-end: 10;
    grid-column-start: 1;
    grid-column-end: 10;
    min-height: 200px;
}

/*grille de base du site fini ici*/

/*couleur du menu de la navigation principale*/
nav a {
    color: gray;
}

/*couleur ausurvol du menu de la navigation principale*/
nav a:hover {
    text-decoration: none;
    color: lightgray;
}

.close-menu {
    display: none;
    /* Initialement caché */
    position: fixed;
    /* Position fixe par rapport à la fenêtre du navigateur */
    top: 20px;
    /* Espace du haut */
    right: 20px;
    /* Espace du côté droit */
    font-size: 2em;
    /* Taille similaire au menu hamburger */
    font-weight: bold;
    /* Gras */
    color: gray;
    /* Couleur grise */
    background: none;
    /* Pas de fond */
    border: none;
    /* Pas de bordure */
    cursor: pointer;
    /* Style du curseur en pointeur */
    z-index: 1010;
    /* S'assure qu'il est au-dessus du menu déployé */
}

.actif {
    font-weight: bold;
    color: black !important;
}

.entete {
    display: grid;
    grid-template-columns: auto 1fr auto;
    /* Trois colonnes: logo, espace, éléments de menu */
    align-items: center;
    /* aligné au bas des cellules */
    width: 90%;
    margin: 0 auto;
}

.entete img {
    width: 60%;
    object-fit: contain;
}



.menu1 {
    display: flex;
    justify-content: flex-end;
    /* Alignement à droite des éléments de menu */
    gap: 20px;
    /* Espace entre les éléments de menu, ajustez selon vos besoins */
    font-size: 2em;
}

.menu1 a {
    text-decoration: none;
    /* Enlève le soulignement */
    color: gray;
    /* Définit la couleur des liens */
    text-align: center;
    /* Assure que le texte est centré si la largeur est spécifiée */
}


a {
    text-decoration: none;
    color: gray;
}

a:hover {
    color: lightgray;
    /* couleur au survol */
}

.actif {
    font-weight: bold;
    color: black;
}



/*styles de l'entete*/

/*logo*/
header img {
    width: 250px;
}

h1 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 100px;
}

/*style pour les recettes*/

.images_recettes img {
    margin-top: 50px;
    width: 100%;
}

.entete {
    display: flex;
    /* Active Flexbox */
    justify-content: space-between;
    /* Sépare le contenu entre les deux extrémités */
    align-items: flex-end;
    /* Alignement vertical au bas */
}


.grille_recettes {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: left;
    grid-gap: 50px;
    margin-bottom: 100px;
    margin-top: 50px;
    font-size: 0.8em;
}

.ingredients {
    grid-column-start: 1;
    grid-column-end: 2;

}

.preparation {
    grid-column-start: 2;
    grid-column-end: 4;

}

.cuisson {
    grid-column-start: 4;
    grid-column-end: 5;
    background-color: #e7c597;
    padding: 50px;
}




.ingredients h2 {
    font-size: 3em;
    margin-bottom: 50px;
}




/*style de la grille d'images*/
/* Configuration du conteneur de la grille */
.grille_images {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* Définit une grille de 12 colonnes */
    gap: 10px;
    /* Espacement uniforme entre les éléments de la grille */
    padding: 10px;

}

.grille_projets {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* Définit une grille de 12 colonnes */
    gap: 60px;
    /* Espacement uniforme entre les éléments de la grille */
    padding: 10px;
    /* Espace uniforme autour des bords de la grille */
    overflow: hidden;
}

.grille_projets p {
    margin-bottom: 20px;
    font-weight: 100;
    text-align: justify;
}

.grille_projets h2 {
    margin-bottom: 20px;
    text-align: right;

}

.grille_projets h3 {
    margin-bottom: 20px;

}

.grille_projets small {
    display: block;
    text-align: right;
    margin-top: 30px;
    color: lightgray;

}

/* Styles communs pour les images */
.im {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    /* Maintient un ratio carré pour toutes les images */
    object-fit: cover;
    /* Assure que les images couvrent l'espace sans déformation */
    box-sizing: border-box;
    /* Pour inclure les marges et les paddings dans la largeur/hauteur */
    display: block;
    /* Élimine l'espace supplémentaire sous l'image */
}

  


.im1 {
    grid-column: 1 / 4;
    /* Le premier carré occupe 3 colonnes */
    grid-row: 1 / 3;
    /* S'étend sur 2 rangées pour former un carré */
}

.im2 {
    grid-column: 4 / 7;
    /* Le deuxième carré, à côté du premier */
    grid-row: 1 / 3;
}

.im3 {
    grid-column: 7 / 13;
    /* Un grand rectangle occupant le reste de la ligne */
    grid-row: 1 / 5;
}

/* Deuxième ligne : deux carrés sous les premiers */
.im4 {
    grid-column: 1 / 4;
    /* Continue avec un autre carré sous le .im1 */
    grid-row: 3 / 5;
}

.im5 {
    grid-column: 4 / 7;
    /* Carré sous le .im2 */
    grid-row: 3 / 5;
}

/* Troisième ligne : commence par un rectangle, suivi de deux carrés */
.im6 {
    grid-column: 1 / 7;
    /* Grand rectangle occupant la moitié gauche */
    grid-row: 5 / 9;
}

.im7 {
    grid-column: 7 / 10;
    /* Carré à droite du rectangle */
    grid-row: 5 / 7;
}

.im8 {
    grid-column: 10 / 13;
    /* Un autre carré à côté du .im7 */
    grid-row: 5 / 7;
}

/* Quatrième ligne : deux carrés sous ceux de la troisième ligne */
.im9 {
    grid-column: 7 / 10;
    /* Carré sous le .im7 */
    grid-row: 7 / 9;
}

.im10 {
    grid-column: 10 / 13;
    /* Carré sous le .im8 */
    grid-row: 7 / 9;
}

/* Remplissage de la dernière ligne avec quatre carrés */
.im11,
.im13 {
    grid-column: 1 / 4;
    /* .im11 et .im13 sont placés à gauche, .im13 est ajouté */
    grid-row: 9 / 11;
    /* Ils s'étendent tous les deux sur 2 rangées */
}

.im12,
.im14 {
    grid-column: 4 / 7;
    /* .im12 et .im14 sont placés à droite */
    grid-row: 9 / 11;
}

.im13 {
    grid-column: 7 / 10;
    /* Positionnement corrigé pour .im13 */
}

.im14 {
    grid-column: 10 / 13;
    /* Positionnement corrigé pour .im14 */
}


.pages>div {
    background-color: #e7c597;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin-left: 20px;
    cursor: pointer;
    border-radius: 50%;
    width: 20px;
}

.pages>div:hover {
    background-color: #3783A3;
}

.pied {
    padding-left: 5%;
    padding-right: 5%;


}

.sociaux a {
    color: gray;
    font-size: 30px;
}

.sociaux a:hover {
    color: lightgray;
    font-size: 30px;
}

.sociaux p {
    margin-top: 10px;
    margin-bottom: 30px;
    color: gray;
    text-align: center;
    color: gray;
    font-size: 0.8em;
}

.sociaux {
    display: flex;
    flex-direction: column;
    /* Organise les éléments verticalement */
    align-items: center;
    /* Centre les éléments verticalement */
    text-align: center;
    /* Centre le texte pour les sous-éléments */
    padding: 20px 0;
}

.icons-wrapper {
    display: flex;
    justify-content: center;
    /* Centre les icônes horizontalement */
    flex-wrap: wrap;
    /* Permet aux icônes de passer à la ligne si nécessaire */
    gap: 10px;
    /* Espacement entre les icônes */
    width: 100%;
    /* Assure que le wrapper prend toute la largeur */
}

.fa {
    font-size: 2em;
    /* Ajuste la taille des icônes */
    padding: 8px;
    /* Ajuste l'espacement autour des icônes */
    color: gray;
    /* Couleur des icônes */
}

.fa:hover {
    color: lightgray;
    /* Couleur des icônes au survol */
}

/* Styles spécifiques pour les crédits */
.credits {
    margin-top: 10px;
    /* Ajoute un espace entre les icônes et les crédits */
    font-size: 1em;
    /* Ajuste la taille de la police pour les crédits */
    width: 100%;
    /* Assure que les crédits prennent toute la largeur et restent centrés */
}

/* Styles pour le bouton menu hamburger */
.hamburger-menu {
    display: none;
    /* Caché par défaut, sera affiché sur mobile */
    align-items: center;
    justify-content: center;
}

.hamburger-menu button {
    background: none;
    border: none;
    font-size: 2em;
    /* Taille de l'icône du menu hamburger */
    color: gray;
}

.hamburger-menu button .fa-bars {
    cursor: pointer;
}

/* Micro-interaction au survol des images: flou léger, changement d'opacité et légère mise à l'échelle */


/* Media Query pour les écrans mobiles */

@media (max-width: 1200px) {

    body {
        padding: 0px;
        /* Marge autour du contenu */
    }

    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        /* Alignement des éléments à la base */

    }

    .entete img {
        width: auto;
        height: 50px;
        /* Hauteur fixe pour le logo pour contrôler sa taille */
    }

    .hamburger-menu {
        display: flex;
        /* Assure que le menu hamburger est visible et aligné */
        align-items: center;
        /* Centre verticalement le bouton dans l'en-tête */
    }

    main {
        padding-top: 100px;
        /* Espace supérieur pour s'assurer que le contenu principal ne soit pas caché par l'en-tête */
        padding-bottom: 50px;
        /* Augmente l'espace en bas avant le pied de page */
    }

    h1 {
        margin-top: 80px;
        /* Augmente l'espace au-dessus du h1 pour plus de clarté */
        text-align: center;
        margin-bottom: 40px;
        font-size: 1.8em;
    }

    main {
        grid-row-start: 2;
        grid-row-end: 9;
        grid-column-start: 2;
        grid-column-end: 9;
        padding: 10px;

    }

    .menu1 a,
    .menu1 a:hover {
        text-decoration: none;
        /* Enlève le soulignement pour l'état normal et au survol */
        color: gray;
        /* Couleur des liens inchangée */
        background-color: transparent;
        /* Aucun changement de fond au survol */
    }

    .menu1 {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: white;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        /* S'assure que le menu est au-dessus des autres éléments */
    }

    .menu1 a {
        padding: 20px;
        /* Augmente le padding pour espacer les éléments */
    }

    .close-menu {
        display: block;
        /* S'assure que le bouton est visible */
        position: absolute;
        /* Position absolue pour placer précisément le bouton */
        top: 20px;
        /* Espace du haut */
        right: 20px;
        /* Espace du côté droit */
        font-size: 2em;
        /* Taille de l'icône */
        color: gray;
        /* Couleur de l'icône */
    }

    .hamburger-menu {
        display: block;
    }

    /* Affiche le menu en plein écran en mobile */
    .menu-deployed {
        display: flex;
        /* Utilise flexbox pour le layout */
        flex-direction: column;
        /* Empile les éléments verticalement */
        justify-content: center;
        /* Centre les éléments verticalement */
        align-items: center;
        /* Centre les éléments horizontalement */
        width: 100%;
        /* Prend toute la largeur */
        height: 100vh;
        /* Prend toute la hauteur de la vue */
        position: fixed;
        /* Position fixe pour couvrir tout l'écran */
        top: 0;
        /* À partir du haut de la page */
        left: 0;
        /* À partir du côté gauche de la page */
        background-color: white;
        /* Fond blanc pour le menu */
        z-index: 1000;
        /* S'assure que le menu est au-dessus de tout le contenu */
        padding-top: 50px;
        /* Ajoute un peu d'espace en haut */
    }

    .menu1 .actif {
        color: black;
        /* Si vous voulez que .actif reste noir aussi en mobile */
    }


    /* Rend le conteneur de l'en-tête responsive */
    header .entete {
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
        padding: 10px;
    }

    /* Affiche le logo et le bouton menu hamburger */
    .entete .item1,
    .entete .hamburger-menu {
        grid-column: auto;
    }

    .grille_images {
        margin: 0 auto;
        /* Centre la grille dans le viewport */
        padding: 0 20px;
        /* Assure une marge intérieure pour ne pas toucher les bords */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* Deux colonnes */
        gap: 10px;
        /* Espacement entre les images */
    }

    .grille_projets {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* Deux colonnes */
        gap: 10px;
        /* Espacement entre les images */
    }

    .grille_projets h2 {
        margin-top: 30px;
        text-align: right;
    }

    .grille_projets small {
        display: block;
        margin-top: 40px;
        text-align: right;
    }

    .grille_images img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .sociaux {
        margin-top: 60px;
    }

    /* Assignation des images aux cellules de la grille */
    /* Configuration initiale pour toutes les images */
    .im {
        grid-row: span 2;
        /* La plupart des images s'étendent sur deux lignes pour maintenir la forme carrée */
    }

    /* Configuration spécifique pour les rectangles longs */
    .im2,
    .im3,
    .im7,
    .im10 {
        grid-row: span 3;
        /* Les rectangles longs s'étendent sur trois lignes */
    }

    /* Ajustements pour éviter les chevauchements tout en maintenant un flux visuel dynamique */
    /* Carrés */
    .im1 {
        grid-column: 1;
        grid-row: 1 / 3;
    }

    .im4 {
        grid-column: 2;
        grid-row: 4 / 6;
    }

    /* Déplacé pour éviter le chevauchement avec .im2 */
    .im5 {
        grid-column: 1;
        grid-row: 3 / 5;
    }

    .im6 {
        grid-column: 2;
        grid-row: 6 / 8;
    }

    .im8 {
        grid-column: 1;
        grid-row: 5 / 7;
    }

    .im9 {
        grid-column: 2;
        grid-row: 8 / 10;
    }

    .im11 {
        grid-column: 1;
        grid-row: 7 / 9;
    }

    .im12 {
        grid-column: 2;
        grid-row: 10 / 12;
    }

    /* Ajusté pour continuer le motif sans chevauchement */

    /* Rectangles longs */
    .im2 {
        grid-column: 2;
        grid-row: 1 / 4;
    }

    .im3 {
        grid-column: 1;
        grid-row: 5 / 8;
    }

    .im7 {
        grid-column: 2;
        grid-row: 6 / 9;
    }

    .im10 {
        grid-column: 1;
        grid-row: 9 / 12;
    }

    /* Ajustements pour les dernières images pour remplir les espaces restants */
    .im13,
    .im14 {
        display: none;
        /* Cachez ces éléments si vous n'utilisez que 12 images */
    }
}

/*
iiiiiii  sss   rrrr    aaa  eee l
   ii   s    r   r  a   a e     l    
   ii    sss  rrrr  aaaaa eeee  l    
   ii       s r  r  a   a e     l    
iiiiiii  sss   r   r a   a  e   lll  

ddddd  u  u pppp  u   u iii sss  
d   d  u  u p   p u   u  i  s     
d   d  u  u pppp  u   u  i   sss  
d   d  u  u p     u   u  i      s 
ddddd   uuu p      uuu  iii sss   

Codé par Israël Dupuis en 2024 pour le plus grand bien de tous.
*/