body {
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "wdth" 100,
        "GRAD" 0,
        "XOPQ" 96,
        "XTRA" 468,
        "YOPQ" 79,
        "YTAS" 750,
        "YTDE" -203,
        "YTFI" 738,
        "YTLC" 514,
        "YTUC" 712;
}

.wrapper {
    width: 90%;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
}

a {
    display: block;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    text-decoration: none;
    color: black;
    /* to change the font type in a */
}

nav {
    margin-top: 50px;
    line-height: 30px;
    display: grid;
    grid-template-columns: 60% 1fr;
}

nav.a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.menu1 {
    display: flex;
    justify-content: space-around;
}

.menu1 a {
    display: block;
    font-size: 2em;
}

nav a:hover {
    color: grey;
}

/* like something go over the top(like mouse hover徘徊) */

.hamburger-menu {
    display: none;
    align-items: center;
    justify-content: center;
}

.hamburger-menubutton {
    background: none;
    border: none;
    color: gray;
}

.hamburger-menu .fa-bars {
    cursor: pointer;
    font-size: 2.5em;
}

.close-menu {
    display: none;
}

.img {
    width: 100%;
}

h1 {
    text-align: left;
    font-size: 5em;
    /* 5em means take 5 tims of letter m size */
    margin-bottom: 20px;
}

main {
    text-align: justify;
}

.book {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    max-width: 100%;
    gap: 0px;
}

.book img {
    display: block;
    width: 100%;
    height: auto;
}

.book>div {
    text-align: center;
    padding: 10px;
}

.book figure {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.storie-left {
    grid-column: 1/7;
}

.storie-right {
    grid-column: 7/13;
}

.storie-right p {
    text-align: center;
}

.storie-right h2 {
    text-align: center;
    font-size: 2em;
}

/* make the picutre fit better */

.im {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.im1 {
    /* grid-column: 1/4; and below is same way to write it*/
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3
}

.im2 {
    grid-column: 4/7;
    grid-row: 1/3;
}

.im3 {
    grid-column: 7/13;
    grid-row: 1/5;
}

.im4 {
    /* grid-column: 1/4; and below is same way to write it*/
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
}

.im5 {
    grid-column: 4/7;
    grid-row: 3/5;
}

.im6 {
    grid-column: 1/7;
    grid-row: 5/9;
}

.im7 {
    grid-column: 7/10;
    grid-row: 5/7;
}

.im8 {
    grid-column: 10/13;
    grid-row: 5/7;
}

.im9 {
    grid-column: 7/10;
    grid-row: 7/9;
}

.im10 {
    grid-column: 10/13;
    grid-row: 7/9;
}

.im11 {
    grid-column: 1/7;
    grid-row: 9/12;
}

.im12 {
    grid-column: 7/13;
    grid-row: 9/12;
}

.hover-text {
    /* display: none; we can make the text display slowly */
    opacity: 0;
    /* opacity 0 have the same feature as display none. */
    position: absolute;
    bottom: 30px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 8px;
    border-radius: 10px;
    color: white;
    transition: opacity 0.3s ease;
    /* ease make the movement smooth */
}

.book figure:hover .hover-text {
    display: block;
    opacity: 1;
}

.book figure img {
    transition: all 0.3s ease;
    /* transition: transform 0.3s ease, opacity 0.3s ease; */
}

.book figure:hover img {
    transform: scale(1.05);
    opacity: 0.9;
    filter: drop-shadow(20px);
}

.book img {
    display: block;
    height: auto;
    width: 100%;
}

.social {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.social .fa-brands {
    padding: 12px;
    font-size: 2em;
    color: grey;
}

.credit {
    margin: 0 auto;
    text-align: center;
    font-weight: 200;
}


@media (max-width:780px) {

    .close-menu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 2em;
        color: grey;
    }

    button {
        border: width 0px;
        background-color: white;
    }

    .hamburger-menu {
        display: flex;
        grid-column: auto;
    }

    .menu-deployed {
        display: flex !important;
        /* put improtant for the browser. testing...*/
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        /* view height */
        position: fixed;
        top: 0;
        left: 0;
        background-color: white;
        z-index: 11000;
        padding-top: 50px;
    }

    .menu1 {
        display: none;
        /* you don't display */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: white;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }

    .menu1 a {
        padding: 20px;
        color: gray;
    }

    .menu1 a:hover {
        color: rgb(229, 227, 227);
    }

    nav {
        margin: 0 auto;
        margin-bottom: 50px;
        width: 100%;
        box-sizing: border-box;
        padding: 10px 20px;
        line-height: 30px;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        background: black;
        border-bottom: 4px solid #000000;
        z-index: 1000;
        color: white;
    }

    h1 {
        margin-top: 50px;
    }

    nav a {
        color: white;
    }

    .wrapper {
        position: relative;
        width: 90%;
        margin: 0 auto;
    }

    footer {
        margin-top: 40px;
        font-size: 12px;
    }

    .book {
        grid-template-columns: auto auto;
        gap: 10px;
        padding: 0px;
        grid-auto-flow: row dense;
        width: 100%;
    }

    .book [class^="im"] {
        grid-column: auto !important;
        grid-row: auto !important;
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .book figure {
        margin: 0;
    }

    .storie-left {
        grid-column: 1/3;
    }

    .storie-right {
        grid-column: 1/3;
    }

}