body {
  /* fixed background */
  background-image: url("mench-bkg.jpg");
  background-repeat: no-repeat;
  background-size: cover;     /* fill entire viewport */
  background-position: center;
  background-attachment: fixed; /* stays still when scrolling */
  margin: 0;
  height: 100vh;
  display: flex;              /* centers the character block */
  justify-content: center;
  align-items: center;
}

/* container for character + glass */
#mench-all {
position: relative;
left: 20%;
}


/* character */
#mench-zi {
  width: 60vw;                /* scales with screen */
  height: auto;
  min-width: 800px;
}


/* glass fixed to hand */
#glass {
  position: absolute;
  top: 45%;                   /* adjust for perfect hand alignment */
  left: 35%;
  width: 6%;                  /* scales with the character */
  height: auto;
  cursor: pointer;
  transition-property: scale();    /* enture smooth transitions */
  transition-duration: 1s;
  transition-delay: 1s;
}

#glass:hover{
 transform: scale(250%); 
 /* 鼠标接触时变大 */
}

