@font-face {
    font-family: 'Dimod';
    src: url('../assets/fonts/dimod/DIMOD.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.title {
    font-family: 'Dimod', sans-serif;
    font-size: clamp(5vmin, 8vmin, 6rem);
    font-weight: 400;
    color: #005DCD;
    letter-spacing: 0.1em;
    line-height: 1;
    margin: 2vmin 0 1vmin 2vmin; 
}

.title-break {
    display: none;
}

@media (max-width: 800px) {
    .title-break {
        display: inline;   /* br 生效，I'M 和 TITLE 分两行 */
    }

    .title-space {
        display: none;    
    }
}

/* code for the menu bar, located to the right */
.side-nav {
    position: fixed;
    top: 15vh; /*always leave 30% space at the top*/
    height: 70vh;   /*menu occupies only the middle 40%*/
    right: 5vmin;              /* distance from right edge */

 
    display: grid;
    grid-template-rows: repeat(10, 1fr);  /* 10 evenly spaced rows */
    /* Divides that 70% height into 10 equal vertical tracks */
    /* Each circle sits in one track */
    
    align-items: center; 
    z-index: 1000;
}


/* Active the current page */
.nav-dot.active {
    background-color: #005DCD;   /* blue fill */
    border-color: #005DCD;       /* blue outline */
    color: #CBD9D9;              /* light number */
}
/* Base style for each circle */
.nav-dot {
    width: 4vmin;  /* rem = root font size unit, 1 rem= 16px */
    height: 4vmin;
    border-radius: 50%; /*turn the square into a circle */
    border: 0.25vmin solid black;     /* black outline */

    background-color: #ebebeb;   /* inner color */
    color: black;                /* number color */

    display: flex;
    align-items: center; /* align-items controls vertical alignment center puts the number vertically in the middle */
    justify-content: center;

    text-decoration: none; /*removes underline*/
    font-family: inherit; /*use the same fornt as the parent element*/
    font-weight: 400; /* text bold or not*/
    font-size: 2vmin;
    transition: background-color 0.2s ease,
                border-color 0.2s ease,
                color 0.2s ease,
                transform 0.15s ease;
/*Background color animation takes 0.2s
Border color animation takes 0.2s
Number color animation takes 0.2s
Any transform (like scale on hover) animates in 0.15s
ease makes it start fast and end slow*/
}


/* Wrapper to center only the eye stack */
.center-wrapper {
    position: relative;
    width: 80%;       /* 10% margin left & right */
    height: 80vh;     /* space above/below */
    margin: 4vmin auto 0;   /* center horizontally */
    display: flex;    
    justify-content: center;   /* center Eye_Stack horizontally */
    align-items: center;       /* center Eye_Stack vertically */

}

.Eye_Stack{
    position: relative;
    width:clamp(50vmin, 60vmin, 70rem);  
    height: clamp(50vmin, 60vmin, 70rem); /* 70% of the screen size*/
}

.eye-layer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;   /* make them same size */
    height: 100%;
    object-fit: contain;
    pointer-events: none; /*so they don’t block each other */
    border: 0.2vmin solid black;   /* responsive border */
    box-sizing: border-box;        /* prevents layout shift */
}

/* Remove spacing caused by <figure> */
.Eye_Stack figure {
    margin: 0;
    padding: 0;
}

/* order: bottom < ball < lid */
.bottom { z-index: 1; }
.ball   { z-index: 2; }
.lid    { z-index: 3; }


/* labels (subtitle / paragraph) */
.label {
    position: absolute;
    max-width: 26ch;
    color: #005DCD;
    font-family: inherit;
    z-index: 80;
}

/* place the subtitle */
.subtitle {
    top: 15%;
    left: 12%;
}

/* place the subtitle */
.paragraph {
    bottom: 12%;
    left: 15%;
    color: #005DCD;
}

.MouseData {
    top: 20%;
    right: 15%;
    color: #005dcd;
    border: 1px solid #005DCD;
}

/* SVG that covers the whole layout for drawing lines */
.link-lines {
    position: absolute;
    inset: 0;     /* top:0; right:0; bottom:0; left:0 */
    width: 100%;
    height: 100%;
    pointer-events: none; /* so clicks go through to links etc. */
    z-index: 99; 
}

body {
 background: #1940ff;
 background: radial-gradient(circle,
            rgba(25, 64, 255, 1) 0%,
            #ffffff 100%);
}
