/* code for the menu bar, located to the right */
.side-nav {
    position: fixed;
    top: 15vh; /*always leave 30% space at the top*/
    height: 70vh;   /*menu occupies only the middle 40%*/
    right: 5vmin;              /* distance from right edge */

 
    display: grid;
    grid-template-rows: repeat(10, 1fr);  /* 10 evenly spaced rows */
    /* Divides that 70% height into 10 equal vertical tracks */
    /* Each circle sits in one track */
    
    align-items: center; 
    z-index: 1000;
}


/* Active the current page */
.nav-dot.active {
    background-color: #005DCD;   /* blue fill */
    border-color: #005DCD;       /* blue outline */
    color: #CBD9D9;              /* light number */
}
/* Base style for each circle */
.nav-dot {
    width: 4vmin;  /* rem = root font size unit, 1 rem= 16px */
    height: 4vmin;
    border-radius: 50%; /*turn the square into a circle */
    border: 0.25vmin solid black;     /* black outline */

    background-color: #ebebeb;   /* inner color */
    color: black;                /* number color */

    display: flex;
    align-items: center; /* align-items controls vertical alignment center puts the number vertically in the middle */
    justify-content: center;

    text-decoration: none; /*removes underline*/
    font-family: inherit; /*use the same fornt as the parent element*/
    font-weight: 400; /* text bold or not*/
    font-size: 2vmin;
    transition: background-color 0.2s ease,
                border-color 0.2s ease,
                color 0.2s ease,
                transform 0.15s ease;
}